body {
	font-family: helvetica, arial, sans-serif;
	background-color:#999999;
	color:#000000;
	margin-top: 0pt;
}
a:link {
	text-decoration:none;
	color:#003388;
	font-weight:bold;
}
a:visited,a:active {
	text-decoration:none;
	color:#770044;
	font-weight:bold;
}
.title {
	color:#FFFFFF;
	font-weight:bold;
}
#move {
	position: absolute;
	top:-1000px;
	left:0px;
}
.x1 { color:#ff0000; }
.x2 { color:#008800; }
.x3 { color:#880088; }
.x4 { color:#000088; }
.x5 { color:#888800; }
.x6 { color:#0000ff; }
.y1 { color:#880000; font-weight:bold; }
.y2 { color:#008800; font-weight:bold; }
.y3 { color:#880088; font-weight:bold; }
.y4 { color:#000088; font-weight:bold; }
